
$bright: #ffffff;
$dim: #444466;

$hint: #884444;
$link: #555588;

$background: #202030;
$foreground: #dddddd;

$header-background: #0002b0;
$header-foreground: $foreground;

@import "abysm/normalize", "abysm/font", "abysm/syntax", "abysm/layout";
