
a {
    text-decoration: none;
    color: $foreground;
}

header {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
}

footer {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom:1em;
    color: $dim;
    ul {
        margin-bottom: 0;
        list-style: none;
        float:left;
        color: $dim;
        li {
            margin-right: 2em;
            float: left;
            a { color: $link; }
            a:hover {
                color: $bright;
            }
        }
    }
    ul:last-of-type {
        text-align: right;
        float:right;
    }
}
footer::after{
    content: "";
    clear: both;
    display: table;
}

.container {
    width:80%;
    max-width: 800px;
    margin: auto;
    vertical-align: bottom;
}

// header menu
.menu { float:right; width: 45%; }
.menu ul { list-style-type: none;  text-align: right; line-height: 5em; }
.menu ul li { display: inline; margin-left: 1.5em; }
.menu ul li a { text-decoration: none; color: $link; }
.menu ul li a:hover { color: $bright; }
.menu ul li a.active { cursor: default; display: inline-block; transform: rotate(180deg); }
.menu ul li a.active:hover { color: $dim; }

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu+Mono&display=swap');

body{
    font-family: 'Ubuntu Mono', 'monospace';
    font-size: 18px;
    background-color: $background;
    color: $foreground;
}

header .icon {
    //font-family: 'Lato', 'sans-serif';
    margin:0;
    font-size: 5em;
    float:left;
    width:45%;
    a {
       color: $dim;
    }
}

header:after{
    content: "";
    clear: both;
    display: table;
}


// articles

article a.more {
    color: $link;
}


article h1 {
    font-size: 3em;
    border-bottom: 2px solid $hint;
    padding-bottom: 0.1em;
    margin-top:0px;
}

article h2 { font-size: 2em; padding-bottom: 0.1em; }
article h3 { font-size: 1.8em; padding-bottom: 0.1em; }
article h4 { font-size: 1.6em; padding-bottom: 0.1em; }
article h5 { font-size: 1.4em; padding-bottom: 0.1em; }
article h6 { font-size: 1.2em; padding-bottom: 0.1em; }
.list article { margin-bottom: 3em;}
.list article h2 {
    font-size: 2em;
    margin-top:0px;
}

article time{
    color: $hint;
}
article .categories{ 
    float: right;
    a.category{ font-style: italic; color: $dim; }
}

article .content, .page.content {
    overflow-wrap: anywhere;
    word-wrap: break-word;
    a {
        text-decoration: none;
        color: $link;
    }
    a:hover{
        color: $dim;
    }
    img {
        display:block;
        margin:auto;
        max-width: 100%;
    }
    ul, ol {
        li {
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
    }
}

// code highlighting tweaks

// wrap code
pre {
    overflow-x: scroll;
}

code pre.lineno {
    color: $dim;
}

p {
    line-height: 1.8;
}

p > code {
    background-color: #111111;
    padding: 0.3em;
    border-radius: 0.5em;
}

// responsive
@media screen and (max-width: 1024px) {
    header{
        width:90%;
        .icon{
            width:100%;
        }
        .menu{width:100%;}
    }
    footer{
        width: 90%;
        ul { display: none; }
        ul:last-of-type { display: block; float: none;}
    }
    .container{width: 90%;}
    .highlight:hover{
        width: 100%;
        margin: auto;
    }
}
